<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<title>Join</title>
	<style>
		.messages{
			color : #963b3b;
			margin-bottom: 16px;
		}
	</style>
</head>
<body>
	<h1>Join My Website!!</h1>

	<h3>Welcome, <%= email %>님... <%= id %> 번째 회원님!!</h3>
	<h3>회원 이름 : <%= name %> </h3>

	<div><a href="/logout">로그아웃</a></div>
	<div><a href="/withdraw">회원탈퇴</a></div>
</body>
</html>