<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<title>EJS</title>
</head>
<body>
	<h1><%= name %></h1>
	<hr/>
	<% for(let i=0; i<10; i++){%>
		<h2>The Square of <%= i %> is <%= i * i%></h2>
	<% } %>
</body>
</html>